{% extends 'fixed-topnav.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block customcss %}
{% endblock customcss %}


{% block title %}
Cursos Form
{% endblock title %}

{% block subtitle %}
<li class="breadcrumb-item nav-link"><a href="/instructores">Instructores</a></li>
<li class="breadcrumb-item nav-link active"><strong>Nuevo</strong></li>
{% endblock subtitle %}

{% block content %}
<!-- Main content -->

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Formulario de instructores</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <!-- aqui va el form -->
        <form action="" method="post" class="form" novalidate>
            {% csrf_token %}
            {{ form|crispy }} 

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a type="button" class="btn btn-secondary" href="{% url 'catalogos:instructores_list' %}">Cancelar</a>

        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

{% endblock content %}

{% block customjs %}

{% endblock customjs %}

{% block docready %}

{% endblock docready %}