{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block title %}
Registro Form
{% endblock title %}

{%block header %}
Formulario de registro al curso <br><small>{{ evento }}</small>
{% endblock header %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="#">Inicio</a></li>
<li class="breadcrumb-item active"><a href="#">Registro</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
<div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Formulario de auto registro</h3>
    </div>
      <div class="card-body">
        <!-- aqui va el form -->
        <form action="" method="post" class="form" novalidate>
          {% csrf_token %}
          {{ form|crispy }} 
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a type="button" class="btn btn-secondary" href="">Cancelar</a>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block customjs %}

{% endblock customjs %}

{% block docready %}

{% endblock docready %}